.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    
  
    &__logo {
      // background-color: #007bff;
      img {
        width: 100px; // Ajusta el tamaño del logo
        height: auto; // Mantiene la proporción
        display: block;
      }
    }


    ul {
      list-style: none; // Elimina las viñetas
      display: flex;
      gap: 1.5rem;
      padding: 0; // Quita cualquier relleno extra
      margin: 0; // Quita márgenes extra
  
      li {
        a {
          text-decoration: none; // Elimina la decoración del texto (subrayado)
          color: #333;
          font-weight: bold;
          transition: color 0.3s;
  
          &:hover {
            color: #007bff; // Cambia el color al pasar el mouse
            text-decoration: underline;
          }
        }
      }
    }
  }