footer{
  display: flex;

  background-color: #f8f9fa;

  .Logo{
    margin-bottom: 1.5rem;

    img{
      width: 100px;
      height: auto;
    }
  }


 .BotonRedes{
    

    button {
      margin: 10px;
      background-color: #453958; // Color del botón
      color: #fff; // Color del texto/icono
      border: none;
      border-radius: 40%; // Hacer que el botón sea redondo
      width: 50px;
      height: 50px;
      font-size: 1.5rem; // Tamaño del icono

      &:hover {
        background-color: #9d87d2; // Cambia el color al pasar el mouse
      }
      i {
        margin: 0; // Asegura que el icono esté centrado
      }

  }
}
}
  